* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #360341d0;
    color: #f3f2f2;
}
/* #2EF0B1
#58920b
 */
form {
    background-color: #17684e;
    border: 3px solid #f3f2f2;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 4px 4px;
    margin: 2rem 0 4rem 0;
}

div {
    display: inline-block;
    margin-top: 1%;
}

.container {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    
}

.titulo, .subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

fieldset {
    border: 0;
}

fieldset.input-data-de-nascimento .input-estado-civil .imput-CPF .input-genero {
    float: left;
    margin-right: 1rem;
    display: flex;
}

#endereco, #email, #empresa {
    width: 20rem;
}

#numero {
    width: 5rem;
}

#instituicao {
    width: 31rem;
}

#curso {
    width: 41rem;
}


